<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='./css/style.css'>
        <link rel="icon" href="./img/icon.jpg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}     
        
        <h3>{{errorMessage}}</h3>


        </div>
        
        {{>footer}}

    </body>

</html>