<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel="icon" href="./img/icon.jpg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>{{Content}}</p>
         <address> 
            <span>
            A-44 & 45 Embassy Galaxy Business Park
            Sector-62 Noida India
            201309  
            </span>         
         </address>     
        </div>  
              
        {{>footer}}
    </body>
</html>